cache
artifacts/

coverage*
typechain-types/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.prettierrc.js

contractsInfo.json
deployments/hardhat
deployments/localhost
deployments/c1
deployments/c2

/.dapp

main.js
